<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><!--Copyright 2011 by OcularCandyProductions--><!--Created for Black Butterfy Productions--><!--modified 7/27/11--><!--begin header with title information, link to style sheet, and meta-tag-->
  <title>Black Butterfly Productions</title>

	<link rel="stylesheet" href="css/screenstyle.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/printstyle.css" type="text/css" media="print" />
	<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/960.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
	<link href="css/galleria.css" rel="stylesheet" type="text/css" media="screen" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Amber Hayes" />
	<meta name="revised" content="01/05/2015" />
	<meta name="description" content="Black Butterfly Productions specialized in custom quality tattoos and paintings.  Located in Midwest City, Oklahoma." />
	<meta name="keywords" content="tattoo custom black butterfly productions painting piercing oklahoma" />
</head>

<body><!--begin body-->
	<div id="container">
		<div id="logo"><!--start #logo, contains Black Butterfly Logo logo-->
      <h1>Black Butterfly Productions<br /></h1>
    </div><!--end #logo-->

    <div id="navbar"> 
      <ul> 
        <li><a href="home.html">Home</a></li> 
        <li><a href="color.html">Color</a></li> 
        <li><a href="blackgrey.html">Black &amp; Grey</a></li> 
        <li><a href="paintings.html">Paintings</a></li> 
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul> 
    </div> 

    <div id="leftcolumn">
      <ul>
        <li><a href="index.html">Home</a></li> 
        <li><a href="color.html">Color</a></li> 
        <li><a href="blackgrey.html">Black &amp; Grey</a></li> 
        <li><a href="paintings.html">Paintings</a></li> 
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div><!--end #leftcolumn-->

    <div id="content"><!--begin right column containing page content-->
      <div class="container_12">
        <div class="grid_4">    
          <ul class="gallery"> 
            <li class="active"><img src="./images/shop/shop1.jpg" title="" alt="1" /></li> 
            <li><img src="./images/shop/shop4.jpg" title="" alt="2" /></li> 
            <li><img src="./images/shop/shop5.jpg" title="" alt="3" /></li> 
            <li><img src="./images/shop/shop2.jpg" title="" alt="4" /></li> 
            <li><img src="./images/shop/shop3.jpg" title="" alt="5" /></li> 
            <li><img src="./images/shop/shop6.jpg" title="" alt="6" /></li> 
            <li><img src="./images/shop/shop7.jpg" title="" alt="7" /></li> 
            <li><img src="./images/shop/shop8.jpg" title="" alt="8" /></li>
          </ul>
        </div><!-- end .grid_4 -->

        <div class="grid_8">
          <div id="main_image"></div>
        </div>
      </div>
    </div><!--end #content right cloumn-->

    <div id="footer"><!--copyright and contact information--> 
      Copyright&nbsp;&copy;&nbsp;2015&nbsp;Black	Butterfly Productions&nbsp;<br />7019 SE 15th St
      &nbsp;&nbsp;Midwest City, Oklahoma 73110&nbsp;<br />
      Phone: 405-202-7408 &nbsp;&nbsp;Email:&nbsp;<a href="mailto:chucky@blackbutterfly.biz">chucky@blackbutterfly.biz</a>&nbsp;
      <div id="disclaim">
        <br />Date last revised: January 05, 2015&nbsp;&nbsp;Please contact webmaster directly with questions/comments concerning the website. <a href="mailto:amber@ocularcandy.biz">amber@ocularcandy.biz</a>
      </div><!--end #disclaim-->
    </div><!--end #footer--> 

  </div><!--end #container-->
</body><!--end body-->
</html>

